In [1]:
import pandas as pd
import numpy as np

# Reading the csv file 
autos = pd.read_csv('Automobile_data.csv')
autos.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [3]:
# Computing the mean price
autos['price'].mean()

15387.0

In [4]:
# Computing the median price
autos['price'].median()

11095.0

In [5]:
# Since the mean is greater than the median, the car price distribution 
# is right-skewed

In [6]:
# Computing the variance price
autos['price'].var()

128148282.87719299

In [7]:
# Computing the mean of log(price)
autos['price']

0     13495.0
1     16500.0
2     16500.0
3     13950.0
4     17450.0
       ...
56     7975.0
57     7995.0
58     9995.0
59    12940.0
60    13415.0
Name: price, Length: 61, dtype: float64

In [8]:
np.log(autos['price'])

0     9.510075
1     9.711116
2     9.711116
3     9.543235
4     9.767095
        ...
56    8.984067
57    8.986572
58    9.209840
59    9.468079
60    9.504129
Name: price, Length: 61, dtype: float64

In [9]:
np.log(autos['price']).mean()

9.410946825351903

In [10]:
np.mean(np.log(autos['price']))

9.410946825351903