In [1]:
import pandas as pd
import numpy as np

# Reading the csv files
durant = pd.read_csv('Durant_2011_2012.csv')
durant.head()

   REB  AST  TOV  PF  PTS
0    5    4    5   4   32
1    9    1    3   2   32
2    8    3    5   3   35
3   14    7    4   0   29
4   11    5    5   4   29

In [2]:
james = pd.read_csv('James_2011_2012.csv')
james.head()

   REB  AST  TOV  PF  PTS
0    8    5    5   1   32
1   11    6    1   3   27
2    5    4    5   0   28
3    6    7    4   2   37
4   10    3    6   4   29

In [3]:
# Computing the average rebounds
durant_avg_rebound = durant['REB'].mean()
james_avg_rebound = james['REB'].mean()

print('Durant average rebound in the 2011-2012 season is', durant_avg_rebound)
print('James average rebound in the 2011-2012 season is', james_avg_rebound)

Durant average rebound in the 2011-2012 season is 7.984848484848484
James average rebound in the 2011-2012 season is 7.935483870967742

In [5]:
# Computing the ME
durant_ME = 2 * durant['REB'].std() / np.sqrt(durant.shape[0])

james_ME = 2 * james['REB'].std() / np.sqrt(james.shape[0])

print('Durant ME of average rebound in the 2011-2012 season is', durant_ME)
print('James ME of average rebound in the 2011-2012 season is', james_ME)

Durant ME of average rebound in the 2011-2012 season is 0.7448250985914077
James ME of average rebound in the 2011-2012 season is 0.6927454676156545