In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import resample

## Reading the csv files 
durant = pd.read_csv('Durant_2011_2012.csv')
james = pd.read_csv('James_2011_2012.csv')

In [2]:
durant.head()

   REB  AST  TOV  PF  PTS
0    5    4    5   4   32
1    9    1    3   2   32
2    8    3    5   3   35
3   14    7    4   0   29
4   11    5    5   4   29

In [3]:
james.head()

   REB  AST  TOV  PF  PTS
0    8    5    5   1   32
1   11    6    1   3   27
2    5    4    5   0   28
3    6    7    4   2   37
4   10    3    6   4   29