In [1]:
import pandas as pd 

## Reading the csv file 
nba = pd.read_csv('NBA_2006_2007.csv')
nba.head()

,Team,GP,W,L,Win_pct,min,EFG_pct,FTA_rate,TOV_pct,OREB_pct,OPP_EFG_pct,OPP_FTA_pct,OPP_TOV_pct,OPP_OREB_pct
0,Dallas Mavericks,82,67,15,0.817,3951,50.9,0.317,15.2,32.0,47.7,0.355,16.0,28.10
1,Phoenix Suns,82,61,21,0.744,3981,55.1,0.267,14.9,26.2,49.2,0.268,15.5,31.70
2,San Antonio Spurs,82,58,24,0.707,3956,52.1,0.313,15.3,27.9,47.1,0.272,15.8,28.50
3,Detroit Pistons,82,53,29,0.646,3976,48.8,0.307,13.7,30.7,47.7,0.317,16.4,32.20
4,Houston Rockets,82,52,30,0.634,3971,49.9,0.292,15.3,28.7,46.6,0.308,15.4,27.56

In [2]:
## Changing the scale of the predictor variables 
nba['EFG_pct'] = nba['EFG_pct'] / 100
nba['TOV_pct'] = nba['TOV_pct'] / 100
nba['OREB_pct'] = nba['OREB_pct'] / 100
nba.head()

,Team,GP,W,L,Win_pct,min,EFG_pct,FTA_rate,TOV_pct,OREB_pct,OPP_EFG_pct,OPP_FTA_pct,OPP_TOV_pct,OPP_OREB_pct
0,Dallas Mavericks,82,67,15,0.817,3951,0.509,0.317,0.152,0.320,47.7,0.355,16.0,28.10
1,Phoenix Suns,82,61,21,0.744,3981,0.551,0.267,0.149,0.262,49.2,0.268,15.5,31.70
2,San Antonio Spurs,82,58,24,0.707,3956,0.521,0.313,0.153,0.279,47.1,0.272,15.8,28.50
3,Detroit Pistons,82,53,29,0.646,3976,0.488,0.307,0.137,0.307,47.7,0.317,16.4,32.20
4,Houston Rockets,82,52,30,0.634,3971,0.499,0.292,0.153,0.287,46.6,0.308,15.4,27.56