In [2]:


import boto3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, ParameterGrid, GridSearchCV, RandomizedSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

## Defining the s3 bucket
s3 = boto3.resource('s3')
bucket_name = 'data-454'
bucket = s3.Bucket(bucket_name)

## Defining the file to be read from s3 bucket
file_key = 'Project_4/DMC_2015_orders_train.txt'

bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

## Reading the csv file
train = pd.read_csv(file_content_stream, sep = '|')
train.head()

,orderID,orderTime,userID,couponsReceived,couponID1,price1,basePrice1,reward1,premiumProduct1,brand1,...,basePrice3,reward3,premiumProduct3,brand3,productGroup3,categoryIDs3,coupon1Used,coupon2Used,coupon3Used,basketValue
0,1,2015-01-06 09:38:35,f77fdea046ce0a40eb30ac35dde882cd,2015-01-06 09:34:53,89d62b666d585f03f262b1f6a6abdd2c,3.24,5.40,1.57,0,788c2fd7ba973489e6529275c01211db,...,12.92,2.20,0,NaN,94a7d11a8972ed94819c748a1d1b42f8,"796c5815752a170021838a78bf7fab34,a0ae3bad823be...",0,1,0,187.60
1,2,2015-01-06 10:03:19,49fb109b47d0cee1753b63c24574d9d5,2015-01-06 10:00:44,093c94d44333cd07a4318a0231b967c8,2.32,1.59,1.57,0,f6601412b868a05c118961e9d7869bc8,...,0.06,2.20,0,f6601412b868a05c118961e9d7869bc8,f5d6f7cd5f84fd41fbc4535f0fb77b89,f929d7624d13f00e1ca52c9edb5c03ba,1,0,1,185.93
2,3,2015-01-06 10:08:13,b767e0e5cda30fc2e7c39f8049eebb5a,2015-01-06 09:29:16,a10bb278883972b3e977d30f4c5d526c,7.92,2.64,1.26,1,4e03e74099990e8529eb7e7328220af1,...,0.88,1.26,0,304979e999d95fc59d85cba5f1633595,e006513b5c7be290e81c8bd614362d07,"796c5815752a170021838a78bf7fab34,4b3e2dbd4d59c...",0,0,0,208.07
3,4,2015-01-06 13:23:23,cae358d7b2d59aafe8e41e70b363a198,2015-01-06 13:13:12,0a0a18c1985e5a2580968bbc90492574,2.50,2.08,1.57,0,a38b030516e52b6f126fb96c159aba25,...,4.25,1.57,0,304979e999d95fc59d85cba5f1633595,b1f57b4c3876f032a2b0ea1f714b0940,"796c5815752a170021838a78bf7fab34,4b3e2dbd4d59c...",1,1,0,185.80
4,5,2015-01-06 13:37:22,9ddbc3f477d31b609f962555d72503ad,2015-01-06 12:48:41,f6e2fa236e98883e972bf0fc58f292e6,12.27,2.45,1.26,0,a38b030516e52b6f126fb96c159aba25,...,2.45,1.57,1,4e03e74099990e8529eb7e7328220af1,d1b083d764bac332ee2715c369cf7ec1,796c5815752a170021838a78bf7fab34,0,0,0,272.12