In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Reading NY Yankees data
NY = pd.read_csv('NY_Yankees.csv')

## Removing white-space
NY['season_2011'] = NY['season_2011'].str.strip()
NY.head()

  season_2011
0           W
1           W
2           L
3           W
4           L

In [13]:
## Creating a frequency table
NY['season_2011'].value_counts()

W    97
L    65
Name: season_2011, dtype: int64

In [17]:
## Creating a relative frequency table
NY['season_2011'].value_counts() / NY.shape[0]

W    0.598765
L    0.401235
Name: season_2011, dtype: float64