In [1]:
import pandas as pd

## Reading csv file 
Index = pd.read_csv('Index.csv')
Index.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3