In [1]:
import boto3
import pandas as pd
import numpy as np

## Defining the bucket 
s3 = boto3.resource('s3')
bucket_name = 'data-445'
bucket = s3.Bucket(bucket_name)

## Defining the csv file 
file_key = 'Fall_2021/In_Class_Assignments/Real_Estate.csv'

bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

## Reading the csv file
house_price = pd.read_csv(file_content_stream)
house_price.head()

,No,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [2]:
## Dropping No and transaction_date
house_price = house_price.drop(columns = ['No', 'transaction_date'], axis = 1)
house_price.head()

,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [7]:
from sklearn.model_selection import train_test_split

## Defining the input and target variables
X = house_price.drop(columns = ['house_price_of_unit_area'], axis = 1)
Y = house_price['house_price_of_unit_area']

## Splitting the data 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

## Building the linear model 
from sklearn.linear_model import LinearRegression
lm_md = LinearRegression().fit(X_train, Y_train)

## Printing model coefficients
lm_md.coef_

array([-2.60467302e-01, -4.22784557e-03,  1.13729622e+00,  2.50831004e+02,
       -1.08779954e+01])

In [8]:
## Printing model intercept
lm_md.intercept_

-4898.299286717246

In [9]:
## Predicting on test
preds = lm_md.predict(X_test)
preds

array([47.99851284, 48.28983657, 45.46278289, 36.76968021, 29.77067658,
       41.12844252, 29.84881677, 38.86393209, 42.9718113 , 32.93332869,
       47.40772935, 41.87074042, 14.41864309, 32.26674096, 33.42195867,
       45.22605131, 42.52678677, 30.27318345, 43.51115597, 50.5116802 ,
       40.48305805, 34.6937465 , 35.62511126, 30.53009352, 34.66769977,
       40.63243468, 54.15281731, 30.81045513, 33.21358483, 39.92188041,
       46.68148095, 39.28719028, 42.8836477 , 40.08501829, 33.39381849,
       48.64420472, 14.41079281, 47.79166363, 48.59605962, 47.47240491,
       52.28632473, 38.66774465, 39.3245973 , 49.72785673, 55.03562938,
       29.80078508, 33.59649164, 33.47258187, 38.24372646, 39.34336821,
       32.25449314, 44.12448981, 52.05190416, 15.09690976, 32.82914177,
       53.68872642, 42.88683406, 38.51387649, 47.23096593, 42.24710901,
       40.65735868, 48.3962833 , 43.02953727, 36.40940957, 45.09646685,
       41.81864696, 51.78441753, 41.32645642, 43.88085955, 46.01057174,
       46.0626652 , 36.23321659, 46.22885981, 47.9229778 , 35.84530601,
       24.53782105, 46.66174   , 45.33255308, 41.71446004, 46.07595847,
       46.55705372, 12.2550703 , 15.0050466 ])

In [11]:
## Computing the mse
mse = np.mean(np.power(preds - Y_test, 2))
mse

35.983298736109056