In [36]:
import pandas as pd; pd.set_option('display.max_columns', 50)
import numpy as np
import matplotlib.pyplot as plt

## Reading the data file
credit_card = pd.read_excel('default of credit card clients.xls', skiprows = 1)
credit_card.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,0,0,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [37]:
## Splitting the data into train and test
train = credit_card.groupby('default payment next month', group_keys = False).apply(lambda x: x.sample(frac = 0.8))
test = credit_card[~np.isin(credit_card['ID'], train['ID'])]

## Dropping ID 
train = train.drop(columns = 'ID', axis = 1)
test = test.drop(columns = 'ID', axis = 1)

test_target = test['default payment next month']
test = test.drop(columns = 'default payment next month', axis = 1)

## Writing the data to csv 
train.to_csv('train.csv', index = False)
test.to_csv('test.csv', index = False)
test_target.to_csv('test_target.csv', index = False)

## Answering Questions

In [1]:
import pandas as pd; pd.set_option('display.max_columns', 50)
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier

## Reading data files
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# ## Chaning labels
train['SEX'] = np.where(train['SEX'] == 1, 'male', 'female')
train['EDUCATION'] = np.where(train['EDUCATION'] == 1, 'graduate_school', 
                              np.where(train['EDUCATION'] == 2, 'university',
                                       np.where(train['EDUCATION'] == 3, 'high_school', 'other_unknown')))
train['MARRIAGE'] = np.where(train['MARRIAGE'] == 1, 'married', 
                             np.where(train['MARRIAGE'] == 2, 'single', 'other'))


test['SEX'] = np.where(test['SEX'] == 1, 'male', 'female')
test['EDUCATION'] = np.where(test['EDUCATION'] == 1, 'graduate_school', 
                              np.where(test['EDUCATION'] == 2, 'university',
                                       np.where(test['EDUCATION'] == 3, 'high_school', 'other_unknown')))
test['MARRIAGE'] = np.where(test['MARRIAGE'] == 1, 'married', 
                             np.where(test['MARRIAGE'] == 2, 'single', 'other'))

## Creating ID columns
train['ID'] = list(range(1, train.shape[0] + 1))

## Splitting the data into train and test
training = train.groupby('default payment next month', group_keys = False).apply(lambda x: x.sample(frac = 0.8))
testing = train[~np.isin(train['ID'], training['ID'])]

## Dropping ID
training = training.drop(columns = 'ID', axis = 1)
testing = testing.drop(columns = 'ID', axis = 1)

## Defining inputs and target variables
X = training.drop(columns = 'default payment next month', axis = 1).reset_index(drop = True)
Y = training['default payment next month'].reset_index(drop = True)

In [2]:
## Changing labels to dummies 
X = pd.concat([X.drop(columns = 'SEX', axis = 1), pd.get_dummies(X['SEX'])], axis = 1)
X = pd.concat([X.drop(columns = 'EDUCATION', axis = 1), pd.get_dummies(X['EDUCATION'])], axis = 1)
X = pd.concat([X.drop(columns = 'MARRIAGE', axis = 1), pd.get_dummies(X['MARRIAGE'])], axis = 1)
X.head()

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,female,male,graduate_school,high_school,other_unknown,university,married,other,single
0,200000,36,-1,-1,-1,-1,0,-1,8812,15189,6205,37658,696,1430,15234,6225,38150,2,1434,2265,1,0,0,0,0,1,1,0,0
1,260000,45,-1,-1,-1,-1,-1,-1,7893,5923,5601,5480,5911,5963,5923,5601,5482,5911,5963,5757,1,0,0,0,0,1,1,0,0
2,170000,56,-1,-1,-1,-1,-1,-1,390,17450,13366,17446,17056,16666,17450,13366,20894,17056,16666,34256,1,0,0,1,0,0,0,0,1
3,80000,26,0,0,-1,-1,-1,-2,40216,10400,10935,2318,-711,-708,1400,10935,2324,707,3,45906,1,0,0,0,0,1,1,0,0
4,300000,40,-1,-1,-2,-2,-2,-2,2470,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0

In [ ]:
## Engineering features via decision tree

In [18]:
## Strong heredity
importance_results = list()

for i in range(0, 20):
    print(i)
    ## Building RF model
    RF = RandomForestClassifier(n_estimators = 500, max_depth = 3).fit(X, Y)
    
    ## Extracting and storting importance
    importance_results.append(RF.feature_importances_)
    
## Converting list to data-frame
importance_results = pd.DataFrame(importance_results)
importance_results.columns = X.columns

## Sorting based on average importance
importance_results = importance_results.apply(np.mean, axis = 0).sort_values(ascending = False)
importance_results

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

PAY_0              0.320601
PAY_2              0.200332
PAY_3              0.122125
PAY_4              0.086110
PAY_5              0.081917
PAY_6              0.058464
PAY_AMT1           0.030935
LIMIT_BAL          0.025249
PAY_AMT2           0.016673
PAY_AMT3           0.013929
PAY_AMT4           0.008671
PAY_AMT5           0.008312
PAY_AMT6           0.007687
BILL_AMT2          0.004033
BILL_AMT1          0.003405
BILL_AMT4          0.002521
BILL_AMT5          0.002371
BILL_AMT3          0.002065
BILL_AMT6          0.001931
AGE                0.000670
graduate_school    0.000447
married            0.000368
other_unknown      0.000359
single             0.000341
male               0.000128
female             0.000122
high_school        0.000112
university         0.000066
other              0.000056
dtype: float64

In [ ]:
## Computing strong heredeity interactions
X['interaction_1'] = X['PAY_0'] * X['PAY_2'] 
X['interaction_2'] = X['PAY_0'] * X['PAY_3']
X['interaction_3'] = X['PAY_2'] * X['PAY_3']