In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Reding the csv file 
baseball = pd.read_csv('Dataset_6_1.csv')
baseball.head()

                  Team  Year  Runs   T   HR   SB    OPS
0        Texas Rangers  2011   855  32  210  143  0.800
1       Boston Red Sox  2011   875  35  203  102  0.810
2       Detroit Tigers  2011   787  34  169   49  0.773
3   Kansas City Royals  2011   730  41  129  153  0.744
4  St. Louis Cardinals  2011   762  22  162   57  0.766