In [ ]:
# pip install -U scikit-learn

In [1]:
import pandas as pd 
import numpy as np

from sklearn.utils import resample

# Reading the csv files
durant = pd.read_csv('Durant_2011_2012.csv')
durant.head()

   REB  AST  TOV  PF  PTS
0    5    4    5   4   32
1    9    1    3   2   32
2    8    3    5   3   35
3   14    7    4   0   29
4   11    5    5   4   29

In [2]:
james = pd.read_csv('James_2011_2012.csv')
james.head()

   REB  AST  TOV  PF  PTS
0    8    5    5   1   32
1   11    6    1   3   27
2    5    4    5   0   28
3    6    7    4   2   37
4   10    3    6   4   29

In [3]:
# Defining the list to store results
results = list()

for i in range(0, 1000):

    # Simulating the data
    durant_simulated_data = resample(durant['REB'], replace = True)
    james_simulated_data = resample(james['REB'], replace = True)

    # Computing and storing the difference in sample means
    durant_simulated_data_avg = durant_simulated_data.mean()
    james_simulated_data_avg = james_simulated_data.mean()

    results.append(durant_simulated_data_avg - james_simulated_data_avg)

In [5]:
# Estimating the difference of average rebounds
np.mean(results)

0.0455772238514174

In [6]:
# Estimating the ME of the difference of average reounds
2*np.std(results, ddof = 1)

1.0491662299829536

In [8]:
print(f"The estimated interval difference of average rebound is from {np.mean(results) - 2*np.std(results, ddof = 1)} to {np.mean(results) + 2*np.std(results, ddof = 1)}")

The estimated interval difference of average rebound is from -1.0035890061315362 to 1.094743453834371