In [1]:
import pandas as pd

## Reading the csv file 
interactions = pd.read_csv('customer_interactions.csv')
interactions.head()

   spend  interactions
0   5818            23
1   6255            15
2   6139            15
3   6070            19
4   4837            24

In [2]:
## Computing the z-scores
interactions['z_spend'] = (interactions['spend'] - interactions['spend'].mean()) / interactions['spend'].std()
interactions['z_interactions'] = (interactions['interactions'] - interactions['interactions'].mean()) / interactions['interactions'].std()
interactions.head()

   spend  interactions   z_spend  z_interactions
0   5818            23  0.923351        0.647282
1   6255            15  1.145958       -0.809740
2   6139            15  1.086868       -0.809740
3   6070            19  1.051719       -0.081229
4   4837            24  0.423632        0.829410