In [1]:
import boto3
import pandas as pd; pd.set_option('display.max_columns', 50)
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, ParameterGrid, GridSearchCV, RandomizedSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error
import Feature_Importance_Funs
import Splitting_Funs
import Classifiers
import Classifiers_Ashlyn

## Defining the s3 bucket
s3 = boto3.resource('s3')
bucket_name = 'data-454'
bucket = s3.Bucket(bucket_name)

## Defining the file to be read from s3 bucket
file_key_train = 'Project_3/orders_train.txt'
file_key_test = 'Project_3/orders_class.txt'

bucket_object_train = bucket.Object(file_key_train)
file_object_train = bucket_object_train.get()
file_content_stream_train = file_object_train.get('Body')

bucket_object_test = bucket.Object(file_key_test)
file_object_test = bucket_object_test.get()
file_content_stream_test = file_object_test.get('Body')

## Reading train and test file
train = pd.read_csv(file_content_stream_train, sep = ';', na_values = '?')
test = pd.read_csv(file_content_stream_test, sep = ';', na_values = '?')

## Features on train
train['feature_1'] = np.where((train['manufacturerID'] == 113) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_2'] = np.where((train['manufacturerID'] == 20) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_3'] = np.where((train['manufacturerID'] == 49) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_4'] = np.where((train['manufacturerID'] == 21) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_5'] = np.where((train['manufacturerID'] == 24) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_6'] = np.where((train['manufacturerID'] == 54) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_7'] = np.where((train['manufacturerID'] == 25) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_8'] = np.where((train['manufacturerID'] == 45) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_9'] = np.where((train['manufacturerID'] == 18) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_10'] = np.where((train['manufacturerID'] == 97) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_11'] = np.where((train['manufacturerID'] == 55) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_12'] = np.where((train['manufacturerID'] == 26) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_13'] = np.where((train['manufacturerID'] == 53) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_14'] = np.where((train['manufacturerID'] == 56) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_15'] = np.where((train['manufacturerID'] == 44) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_16'] = np.where((train['manufacturerID'] == 75) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_17'] = np.where((train['manufacturerID'] == 64) & (train['salutation'] == 'Mrs'), 1, 0)
train['feature_18'] = np.where((train['manufacturerID'] == 16) & (train['salutation'] == 'Mrs'), 1, 0)

## Splitting Data

In [2]:
## Defining the input and target variables
X = train.drop(columns = ['returnShipment'], axis = 1)
Y = train['returnShipment']

## Splitting the data 
X_train, X_val, X_test, Y_train, Y_val, Y_test = Splitting_Funs.train_validation_test(X, Y)

In [3]:
## Selecting the inputs based on the feature importance ranking 
X_train = X_train[['feature_1', 'feature_2', 'feature_7', 'feature_8', 'feature_3']]
X_val = X_val[['feature_1', 'feature_2', 'feature_7', 'feature_8', 'feature_3']]
X_test = X_test[['feature_1', 'feature_2', 'feature_7', 'feature_8', 'feature_3']]

In [ ]:
X_train.describe()

In [ ]:
Y_train.value_counts()

In [ ]:
test = Classifiers.Classifier(X_train, Y_train, X_val, Y_val, model = 'Ada')

In [ ]:
test = test.sort_values(by = ['evaluation'])
test.head()

In [4]:
test = Classifiers_Ashlyn.Classifier_Ashlyn(X_train, Y_train, X_val, Y_val, model = 'RF')

Working on job 1 out of  48
Working on job 2 out of  48
Working on job 3 out of  48
Working on job 4 out of  48
Working on job 5 out of  48
Working on job 6 out of  48
Working on job 7 out of  48
Working on job 8 out of  48
Working on job 9 out of  48
Working on job 10 out of  48
Working on job 11 out of  48
Working on job 12 out of  48
Working on job 13 out of  48
Working on job 14 out of  48
Working on job 15 out of  48
Working on job 16 out of  48
Working on job 17 out of  48
Working on job 18 out of  48
Working on job 19 out of  48
Working on job 20 out of  48
Working on job 21 out of  48
Working on job 22 out of  48
Working on job 23 out of  48
Working on job 24 out of  48
Working on job 25 out of  48
Working on job 26 out of  48
Working on job 27 out of  48
Working on job 28 out of  48
Working on job 29 out of  48
Working on job 30 out of  48
Working on job 31 out of  48
Working on job 32 out of  48
Working on job 33 out of  48
Working on job 34 out of  48
Working on job 35 out of  48
Working on job 36 out of  48
Working on job 37 out of  48
Working on job 38 out of  48
Working on job 39 out of  48
Working on job 40 out of  48
Working on job 41 out of  48
Working on job 42 out of  48
Working on job 43 out of  48
Working on job 44 out of  48
Working on job 45 out of  48
Working on job 46 out of  48
Working on job 47 out of  48
Working on job 48 out of  48

In [5]:
test

,n_estimators,max_features,max_depth,min_samples_split,min_samples_leaf,cutoff,points
0,100,3,3,10,5,0.95,0.0
1,100,3,3,10,7,0.95,0.0
2,100,3,3,15,5,0.95,0.0
3,100,3,3,15,7,0.95,0.0
4,100,3,5,10,5,0.95,0.0
5,100,3,5,10,7,0.95,0.0
6,100,3,5,15,5,0.95,0.0
7,100,3,5,15,7,0.95,0.0
8,100,5,3,10,5,0.95,0.0
9,100,5,3,10,7,0.95,0.0
10,100,5,3,15,5,0.95,0.0
11,100,5,3,15,7,0.95,0.0
12,100,5,5,10,5,0.95,0.0
13,100,5,5,10,7,0.95,0.0
14,100,5,5,15,5,0.95,0.0
15,100,5,5,15,7,0.95,0.0
16,300,3,3,10,5,0.95,0.0
17,300,3,3,10,7,0.95,0.0
18,300,3,3,15,5,0.95,0.0
19,300,3,3,15,7,0.95,0.0
20,300,3,5,10,5,0.95,0.0
21,300,3,5,10,7,0.95,0.0
22,300,3,5,15,5,0.95,0.0
23,300,3,5,15,7,0.95,0.0
24,300,5,3,10,5,0.95,0.0
25,300,5,3,10,7,0.95,0.0
26,300,5,3,15,5,0.95,0.0
27,300,5,3,15,7,0.95,0.0
28,300,5,5,10,5,0.95,0.0
29,300,5,5,10,7,0.95,0.0
30,300,5,5,15,5,0.95,0.0
31,300,5,5,15,7,0.95,0.0
32,500,3,3,10,5,0.95,0.0
33,500,3,3,10,7,0.95,0.0
34,500,3,3,15,5,0.95,0.0
35,500,3,3,15,7,0.95,0.0
36,500,3,5,10,5,0.95,0.0
37,500,3,5,10,7,0.95,0.0
38,500,3,5,15,5,0.95,0.0
39,500,3,5,15,7,0.95,0.0
40,500,5,3,10,5,0.95,0.0
41,500,5,3,10,7,0.95,0.0
42,500,5,3,15,5,0.95,0.0
43,500,5,3,15,7,0.95,0.0
44,500,5,5,10,5,0.95,0.0
45,500,5,5,10,7,0.95,0.0
46,500,5,5,15,5,0.95,0.0
47,500,5,5,15,7,0.95,0.0