In [1]:
import pandas as pd
import numpy as np

## Reading csv files
durant = pd.read_csv('Durant_2011_2012.csv')
james = pd.read_csv('James_2011_2012.csv')

In [2]:
durant.head()

   REB  AST  TOV  PF  PTS
0    5    4    5   4   32
1    9    1    3   2   32
2    8    3    5   3   35
3   14    7    4   0   29
4   11    5    5   4   29

In [3]:
james.head()

   REB  AST  TOV  PF  PTS
0    8    5    5   1   32
1   11    6    1   3   27
2    5    4    5   0   28
3    6    7    4   2   37
4   10    3    6   4   29

In [4]:
## Computing the average rebounds
durant['REB'].mean()

7.984848484848484

In [5]:
james['REB'].mean()

7.935483870967742

In [6]:
## Computing the margin of error (Durant)
2*durant['REB'].std() / np.sqrt(durant.shape[0])

0.7448250985914079

In [7]:
## Computing the margin of error (James)
2*james['REB'].std() / np.sqrt(james.shape[0])

0.6927454676156545