In [4]:
import pandas as pd

## Reading csv files
durant = pd.read_csv('Durant_2011_2012.csv')
james = pd.read_csv('James_2011_2012.csv')

In [5]:
## rebound averages

    REB  AST  TOV  PF  PTS
0     8    5    5   1   32
1    11    6    1   3   27
2     5    4    5   0   28
3     6    7    4   2   37
4    10    3    6   4   29
..  ...  ...  ...  ..  ...
57    9    5    2   2   16
58    8   10    4   2   34
59    6    7    2   0   35
60    6    5    3   3   26
61   10    6    3   3   37

[62 rows x 5 columns]