In [12]:
import boto3
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Defining the s3 bucket
s3 = boto3.resource('s3')
bucket_name = 'data-448'
bucket = s3.Bucket(bucket_name)

## Defining the file to be read from s3 bucket
# file_key = 'Chapter1/mammographic_masses.data'
file_key = 'Chapter1/framingham.csv'

bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

## Reading the csv file
heart = pd.read_csv(file_content_stream)
heart = heart.dropna()
heart.head()
# cancer = pd.read_csv(file_content_stream, na_values = ['?'], names = ['BI-RADS', 'age', 'shape', 'margin', 'density', 'severity'])
# cancer.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

## Classification on Inbalanced Data

In [2]:
## frequency table of target 
cancer['severity'].value_counts()

0    516
1    445
Name: severity, dtype: int64

In [3]:
cancer['severity'].value_counts() / cancer.shape[0]

0    0.536941
1    0.463059
Name: severity, dtype: float64

In [3]:
from imblearn.datasets import fetch_datasets

mammography = fetch_datasets()['mammography']
mammography

{'data': array([[ 0.23001961,  5.0725783 , -0.27606055,  0.83244412, -0.37786573,
          0.4803223 ],
        [ 0.15549112, -0.16939038,  0.67065219, -0.85955255, -0.37786573,
         -0.94572324],
        [-0.78441482, -0.44365372,  5.6747053 , -0.85955255, -0.37786573,
         -0.94572324],
        ...,
        [ 1.2049878 ,  1.7637238 , -0.50146835,  1.5624078 ,  6.4890725 ,
          0.93129397],
        [ 0.73664398, -0.22247361, -0.05065276,  1.5096647 ,  0.53926914,
          1.3152293 ],
        [ 0.17700275, -0.19150839, -0.50146835,  1.5788636 ,  7.750705  ,
          1.5559507 ]]),
 'target': array([-1, -1, -1, ...,  1,  1,  1]),
 'DESCR': 'mammography'}

In [4]:
type(mammography)

sklearn.utils.Bunch

In [6]:
import pandas as pd 

X = pd.DataFrame(mammography['data'])
X.head()

          0         1         2         3         4         5
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566

In [7]:
X.shape

(11183, 6)

In [10]:
Y = pd.DataFrame(mammography['target'])
Y.value_counts() / Y.shape[0]

-1    0.97675
 1    0.02325
dtype: float64