In [1]:
import pandas as pd

## Reading the csv file 
autos = pd.read_csv('Automobile_data.csv')
autos

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [2]:
## Reporting the number of observations and variables
autos.shape

(61, 10)

In [3]:
## Identifying the highest price by company
autos.groupby('company')['price'].max()

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [5]:
## Reporting the last price
autos.tail(1)['price']

60    13415.0
Name: price, dtype: float64

In [6]:
autos['price'].tail(1)

60    13415.0
Name: price, dtype: float64

In [7]:
## Identifying the highest price by body-style
autos.groupby('body-style')['price'].max()

body-style
convertible    37028.0
hardtop        45400.0
hatchback      16500.0
sedan          41315.0
wagon          28248.0
Name: price, dtype: float64