In [10]:
import pandas as pd 
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Reading the data
autos = pd.read_csv('autos.csv')
autos.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [6]:
scaler = StandardScaler().set_output(transform = 'pandas')

X = autos[['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration']]
Y = autos['mpg']

X = scaler.fit_transform(X)

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [12]:
# Building the model
knn_md = KNeighborsRegressor(n_neighbors = 5).fit(X_train, Y_train)

# Predicting on test
knn_pred = knn_md.predict(X_test)

# Computing the RMSE and MAE
print(f"The RMSE of the knn model is {mean_squared_error(Y_test, knn_pred, squared = False)}")
print(f"The MAE of the knn model is {mean_absolute_error(Y_test, knn_pred)}")

The RMSE of the knn model is 2.9093172020731055
The MAE of the knn model is 2.0898734177215195

In [13]:
# Building the model
RF_md = RandomForestRegressor(n_estimators = 500, max_depth = 3).fit(X_train, Y_train)

# Predicting on test
RF_pred = RF_md.predict(X_test)

# Computing the RMSE and MAE
print(f"The RMSE of the RF model is {mean_squared_error(Y_test, RF_pred, squared = False)}")
print(f"The MAE of the RF model is {mean_absolute_error(Y_test, RF_pred)}")

The RMSE of the RF model is 2.995543733545578
The MAE of the RF model is 2.152364927021166

In [14]:
# Building the model
GB_md = GradientBoostingRegressor(n_estimators = 500, max_depth = 3).fit(X_train, Y_train)

# Predicting on test
GB_pred = GB_md.predict(X_test)

# Computing the RMSE and MAE
print(f"The RMSE of the GB model is {mean_squared_error(Y_test, GB_pred, squared = False)}")
print(f"The MAE of the GB model is {mean_absolute_error(Y_test, GB_pred)}")

The RMSE of the GB model is 2.9237015468766354
The MAE of the GB model is 2.2023623509511983