In [1]:
import pandas as pd

# Reading the csv file
index = pd.read_csv('500_Person_Gender_Height_Weight_Index.csv')
index.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [3]:
# Frequency table for gender
index['Gender'].value_counts()

Female    255
Male      245
Name: Gender, dtype: int64

In [4]:
# Female dataset
female = index[index['Gender'] == 'Female']
female

     Gender  Height  Weight  Index
2    Female     185     110      4
3    Female     195     104      3
9    Female     169     103      4
11   Female     159      80      4
12   Female     192     101      3
..      ...     ...     ...    ...
492  Female     198      50      0
493  Female     170      53      1
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5

[255 rows x 4 columns]

In [8]:
female.describe()

           Height      Weight       Index
count  255.000000  255.000000  255.000000
mean   170.227451  105.698039    3.709804
std     15.711825   32.962025    1.325886
min    140.000000   50.000000    0.000000
25%    157.000000   79.000000    3.000000
50%    170.000000  106.000000    4.000000
75%    184.000000  135.000000    5.000000
max    199.000000  160.000000    5.000000

In [7]:
female[['Height', 'Weight', 'Index']].describe()

           Height      Weight       Index
count  255.000000  255.000000  255.000000
mean   170.227451  105.698039    3.709804
std     15.711825   32.962025    1.325886
min    140.000000   50.000000    0.000000
25%    157.000000   79.000000    3.000000
50%    170.000000  106.000000    4.000000
75%    184.000000  135.000000    5.000000
max    199.000000  160.000000    5.000000

In [10]:
# Selecting males with index >= 4
index[(index['Gender'] == 'Male') & (index['Index'] >= 4)]

    Gender  Height  Weight  Index
0     Male     174      96      4
6     Male     147      92      5
7     Male     154     111      5
17    Male     140     129      5
18    Male     144     145      5
..     ...     ...     ...    ...
485   Male     173     111      4
488   Male     198     136      4
494   Male     152      98      5
498   Male     150      95      5
499   Male     173     131      5

[164 rows x 4 columns]