In [1]:
import pandas as pd

# Reading the csv file
index = pd.read_csv('500_Person_Gender_Height_Weight_Index.csv')
index.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [3]:
# Frequency table for gender
index['Gender'].value_counts()

Female    255
Male      245
Name: Gender, dtype: int64

In [ ]:
# Female dataset