In [ ]:
#Exercise 1
# (a) Logistic regression is a parametric model while random forest is a non-parametric model.

In [ ]:
#Exercise 2

# The sum of bagged predicted churn 
# (0.78 + 0.81 + 0.76 + 0.82 + 0.80) / 5
# = 4.97/5 =0.994
# bagged predicted churn probability is 0.994.

In [ ]:
 #Exercise 3
# If a random forest is built using all the predictors, then it is equal to bagging. Boosting works in a similar way, except that the trees are grown sequentially: each tree is grown using information from previously grown trees
# Random Forest creates multiple independent trees and combines their predictions by averaging or voting, while Boosted Trees build a series of trees, each focusing on correcting the errors of the previous ones through weighted voting.

In [ ]:
#Exercise 4

#Observation 1: Class A
#Observation 2: Class B
#Observation 3: Class C
#Observation 4: Class D
#Observation 5: Class A

In [1]:
#Exercise 5
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score 

#Read the CSV file 
credit_default = pd.read_csv('Default.csv')
credit_default.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [2]:
credit_default['default_numb'] = np.where(credit_default['default'] == 'Yes', 1, 0)
credit_default.head()

  default student      balance        income  default_numb
0      No      No   729.526495  44361.625074             0
1      No     Yes   817.180407  12106.134700             0
2      No      No  1073.549164  31767.138947             0
3      No      No   529.250605  35704.493935             0
4      No      No   785.655883  38463.495879             0

In [3]:
X = credit_default[['balance', 'income']]
y = credit_default['default_numb']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
RF_md = RandomForestClassifier().fit(X_train,  y_train)

new_data = np.array([[2000, 70000]])
pred = RF_md.predict_proba(new_data)[:, 1]
print(f"Predicted likelihood of default: {pred[0]:.2%}")

Predicted likelihood of default: 65.00%

/Users/oscaraguilar/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [7]:
credit_default['student_numb'] = np.where(credit_default['student'] == 'Yes', 1, 0)
credit_default.head()

  default student      balance        income  default_numb  student_numb
0      No      No   729.526495  44361.625074             0             0
1      No     Yes   817.180407  12106.134700             0             1
2      No      No  1073.549164  31767.138947             0             0
3      No      No   529.250605  35704.493935             0             0
4      No      No   785.655883  38463.495879             0             0

In [8]:
X = credit_default[['balance', 'income', 'student_numb']]
Y = credit_default['default_numb']

md = RandomForestClassifier().fit(X,Y)
newdata = np.array([[2000, 70000, 0]])
pred = md.predict_proba(newdata)[:, 1]
print(f"Predicted likelihood of default: {pred[0]:.2%}")

Predicted likelihood of default: 85.00%

/Users/oscaraguilar/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [11]:
#Exercise 6

import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split


# Read the CSV file
customer_churn = pd.read_csv('Churn_Data.csv')
customer_churn.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCreditCard,IsActiveMember,EstimatedSalary,Churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
## Don't need this
# customer_churn['Churn_numb'] = np.where(customer_churn['Churn'] == 'Yes', 1, 0)
# customer_churn.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCreditCard,IsActiveMember,EstimatedSalary,Churn,Churn_numb
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0

In [12]:
features = ['Age', 'EstimatedSalary', 'CreditScore', 'Balance', 'NumOfProducts']
X = customer_churn[features]
# Y = customer_churn['Churn_numb']
Y = customer_churn['Churn']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [13]:
md = RandomForestClassifier(n_estimators=500, max_depth=3)
md.fit(X_train, y_train)

pred=md.predict(X_test)
pred
print("Accuracy:", accuracy_score(y_test, pred))

Accuracy: 0.8223223223223223

In [14]:
new_data = np.array([[50, 100000, 600, 100000, 2]])
pred = md.predict_proba(new_data)[:, 1]
print(f"Predicted likelihood of churn: {pred[0]:.2%}")

Predicted likelihood of churn: 34.88%

/Users/oscaraguilar/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [16]:
GB_md = GradientBoostingClassifier(n_estimators=500, max_depth=3)
GB_md.fit(X_train, y_train)

pred=GB_md.predict(X_test)
print("Accuracy:", accuracy_score(y_test, pred))

Accuracy: 0.8378378378378378

In [17]:
new_data = np.array([[50, 100000, 600, 100000, 2]])
pred = GB_md.predict_proba(new_data)[:, 1]
print(f"Predicted likelihood of churn: {pred[0]:.2%}")

Predicted likelihood of churn: 26.82%

/Users/oscaraguilar/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but GradientBoostingClassifier was fitted with feature names
  warnings.warn(