In [1]:
import pandas as pd 

## Reading the csv file 
autos = pd.read_csv('Automobile_data.csv')
autos.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [3]:
## Computing the average car price
autos['price'].mean()

15387.0

In [4]:
## Computing the median car price
autos['price'].median()

11095.0

In [ ]:
## By comparing the mean and the median, we conclude that the car price distribution is
## right-skewed

In [5]:
## Computing the variance of car price
autos['price'].var(ddof = 1)

128148282.87719299

In [8]:
import numpy as np

## Computing the mean log price
np.mean(np.log(autos['price']))

9.410946825351903