In [1]:
## First we import the numpy library
import numpy as np

## Here we create the vector with the values using the 
## array function from numpy
x = np.array([0, 1, 2, 0, 4, 0, 1, 2, 3])

## Here we find the mean using the mean function from numpy
np.mean(x)

1.4444444444444444

In [2]:
## Here we create the vector with the salaries using the 
## array function from numpy
salaries = np.array([35000, 37000, 35000, 33000, 210000])

## Here we find the mean using the mean function from numpy
np.mean(salaries)

70000.0

In [3]:
## Here we create the vector with the salaries using the 
## array function from numpy
salaries = np.array([35000, 37000, 35000, 33000])

## Here we find the mean using the mean function from numpy
np.mean(salaries)

35000.0

In [4]:
## Here we create the vector with the salaries using the 
## array function from numpy
salaries = np.array([35000, 37000, 35000, 33000, 210000])

## Here we find the mean using the median function from numpy
np.median(salaries)

35000.0

In [5]:
## Here we create the vector with the salaries using the 
## array function from numpy
salaries = np.array([35000, 37000, 35000, 33000, 210000, 39000])

## Here we find the median using the median function from numpy
np.median(salaries)

36000.0