In [1]:
## First we import the numpy library
import numpy as np

## Here we create the vector with the values using the 
## array function from numpy
x = np.array([0, 1, 2, 0, 4, 0, 1, 2, 3])

## Here we find the mean using the mean function from numpy
np.mean(x)

1.4444444444444444

In [2]:
## Here we create the vector with the salaries using the 
## array function from numpy
salaries = np.array([35000, 37000, 35000, 33000, 210000])

## Here we find the mean using the mean function from numpy
np.mean(salaries)

70000.0

In [3]:
## Here we create the vector with the salaries using the 
## array function from numpy
salaries = np.array([35000, 37000, 35000, 33000])

## Here we find the mean using the mean function from numpy
np.mean(salaries)

35000.0

In [4]:
## Here we create the vector with the salaries using the 
## array function from numpy
salaries = np.array([35000, 37000, 35000, 33000, 210000])

## Here we find the mean using the median function from numpy
np.median(salaries)

35000.0

In [5]:
## Here we create the vector with the salaries using the 
## array function from numpy
salaries = np.array([35000, 37000, 35000, 33000, 210000, 39000])

## Here we find the median using the median function from numpy
np.median(salaries)

36000.0

In [6]:
## Here we create the vector with the salaries using the 
## array function from numpy
salaries = np.array([35000, 37000, 35000, 33000, 210000])

## Here we find the range using the max and min functions from numpy
np.max(salaries) - np.min(salaries)

177000

In [8]:
## Here we create the vector with the salaries using the 
## array function from numpy
heights = np.array([65.71, 72.30, 68.31, 67.05, 70.68])

## Here we find the variance using the var function from numpy
print(np.var(heights, ddof = 1))

## Here we find the standard deviation using the std function from numpy
print(np.std(heights, ddof = 1))

7.158650000000013
2.6755653608162917

In [9]:
## Here we create the vector with the salaries using the 
## array function from numpy
heights = np.array([65.71, 72.30, 68.31, 67.05, 70.68])

## Here we find the z scores
(heights - np.mean(heights)) / np.std(heights, ddof = 1)

array([-1.15863363,  1.30439721, -0.18687639, -0.6578049 ,  0.6989177 ])

In [10]:
## Here we create the vector with the salaries using the 
## array function from numpy
heights = np.array([65.71, 72.30, 68.31, 67.05, 70.68])

## Here we find the five-number summary of heights
np.percentile(heights, [0, 25, 50, 75, 100])

array([65.71, 67.05, 68.31, 70.68, 72.3 ])