In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
house_price = pd.read_csv('Real_Estate.csv')
house_price.head()

,No,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
# house_price = house_price.drop(columns = ['No', 'trasanction_date'], axis = 1)
house_price.drop(columns = ['No', 'transaction_date'], axis = 1, inplace = True)
house_price.head()

,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [9]:
X = house_price.drop(columns = 'house_price_of_unit_area', axis = 1)
Y = house_price['house_price_of_unit_area']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [10]:
# Building the linear model 
lm_md = LinearRegression().fit(X_train, Y_train)

# Predicting on test 
lm_pred = lm_md.predict(X_test)
lm_pred

array([40.66967098, 38.78697288, 33.48217637, 14.70935753, 43.67757926,
       40.81828216, 45.47626441, 45.477532  , 48.81677892, 39.05920985,
       12.09125311, 45.12281649, 39.22279649, 45.98679538, 47.78269971,
       41.84854497, 38.25750691, 41.95016838, 37.8155774 , 28.74232188,
       23.07001351, 29.86963731, 35.07516587, 32.01213646, 13.90932594,
       48.63261517, 54.3267854 , 32.78574233, 47.98425863, 46.40746246,
       45.75127105, 46.82739981, 53.0652487 , 52.16876001, 30.15151572,
       41.14409516, 49.34498684, 34.18148747, 46.91831789, 13.53680045,
       24.71322851, 43.2881093 , 46.47601307, 50.15258988, 42.2450951 ,
       38.35165319, 42.04407571, 47.25630199, 33.36390855, 41.02058396,
       45.41221621, 37.82169015, 33.34486672, 47.3376702 , 38.03970962,
       24.22166875, 39.87555097,  8.00881844, 42.45724694, 29.24921127,
       43.49916068, 39.2250598 , 47.09461224, 14.71410521, 32.07335371,
       44.81449814, 40.06241833, 41.91955491, 45.0759771 , 40.99908894,
       32.32874991, 47.44566182, 34.15781749, 52.21609996, 41.95016838,
       52.26343992, 42.79518211, 49.08982752, 40.61939593, 42.3173272 ,
       44.8069388 , 38.54597602, 40.6844876 ])

In [11]:
Y_test

161    39.6
244    21.7
32     34.2
394    24.7
31     25.0
       ...
59     42.4
153    40.9
167    43.4
97     34.6
250    30.0
Name: house_price_of_unit_area, Length: 83, dtype: float64

In [12]:
lm_mse = mean_squared_error(Y_test, lm_pred)
print('The MSE of the linear model is', lm_mse)

The MSE of the linear model is 59.56033402532517